.textbox {
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
  background-color: rgba(55,63,140,0.8);
  width:110%;
  margin-left: auto ;
  margin-right: auto ;
}

.aligncenter {
    text-align: center;
}

pre {
	overflow: visible;
	width: 500px;
}
